In [2]:
# let's import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

%config Inlinebackground.figureFormat='retina'
sns.set(font_scale=1.5)
pd.options.display.max_rows = 200
pd.options.display.max_columns = 200

In [3]:
# let's load the datasets
# cab data
cab_data = pd.read_csv(r'uber-lyft-cab-prices/Cab-Weather Data/Cab-Weather Data/cab_rides.txt', encoding='utf-16')
# weather data
weather_data = pd.read_csv(r'uber-lyft-cab-prices/Cab-Weather Data/Cab-Weather Data/weather.txt', encoding='utf-16')

In [4]:
cab_data = cab_data.sample(n=10000)
cab_data.head(3)

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
158436,0.39,Uber,1543456794061,South Station,Financial District,26.0,1.0,008f1b32-d0a8-4ddc-8c1e-82bba95764ac,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV
89775,1.89,Uber,1545087603405,Theatre District,Northeastern University,9.5,1.0,ef2c4c1b-b18c-4f33-b0ed-7ca178906184,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX
138929,4.40,Uber,1545049206605,Financial District,Fenway,13.0,1.0,c4d872c9-6c5c-4e48-a4f1-5ca9f188a6f7,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV

In [5]:
weather_data.head(3)

,temp,location,clouds,pressure,rain,time_stamp,humidity,wind
0,42.42,Back Bay,1.0,1012.14,0.1228,1545003901,0.77,11.25
1,42.43,Beacon Hill,1.0,1012.15,0.1846,1545003901,0.76,11.32
2,42.50,Boston University,1.0,1012.15,0.1089,1545003901,0.76,11.07